<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>
    <!-- 引入 echarts.js -->
    <script src="../resources/echarts/echarts.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="xiaoliang1" style="width: 600px;height:400px;float: left"></div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="xiaoliang2" style="width: 600px;height:400px;float: left"></div>

<script type="text/javascript" src="../resources/layui/layui.js"></script>
<script type="text/javascript" src="../resources/js/cache.js"></script>
<script type="text/javascript">
    var $, layer;
    layui.config({
        base: "resources/js/"
    })
    layui.use(['layer', 'jquery'], function () {
        $ = layui.$;
        layer = parent.layer === undefined ? layui.layer : top.layer;

        getData();

        //通过顶部菜单获取左侧二三级菜单   注：此处只做演示之用，实际开发中通过接口传参的方式获取导航数据
        function getData() {
            $.getJSON("echarts/loadAllSalesInfoForReport", function (data) {
                console.log(data);

                // 基于准备好的dom，初始化echarts实例
                var myChart1 = echarts.init(document.getElementById('xiaoliang1'));

                // 指定图表的配置项和数据
                var option1 = {
                    title: {
                        text: '产品销量'
                    },
                    tooltip: {},
                    legend: {
                        data: ['销量']
                    },
                    xAxis: {
                        data: data.option1_xAxis_data
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: data.option1_series_data
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart1.setOption(option1);

                // 基于准备好的dom，初始化echarts实例
                var myChart2 = echarts.init(document.getElementById('xiaoliang2'));
                option2 = {
                    backgroundColor: '#2c343c',

                    title: {
                        text: '产品销量占比',
                        left: 'center',
                        top: 20,
                        textStyle: {
                            color: '#ccc'
                        }
                    },

                    tooltip: {
                        trigger: 'item'
                    },

                    visualMap: {
                        show: false,
                        min: 80,
                        max: 600,
                        inRange: {
                            colorLightness: [0, 1]
                        }
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: data.option2_series_data.sort(function (a, b) {
                                return a.value - b.value;
                            }),
                            roseType: 'radius',
                            label: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            labelLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.3)'
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            },
                            itemStyle: {
                                color: '#c23531',
                                shadowBlur: 200,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            },

                            animationType: 'scale',
                            animationEasing: 'elasticOut',
                            animationDelay: function (idx) {
                                return Math.random() * 200;
                            }
                        }
                    ]
                };
                myChart2.setOption(option2);

            })
        }

    });
</script>
</body>
</html>