<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.future.yw.mapper.YwProviderMapper">

    <!-- 根据供应商id删除商品信息 -->
    <delete id="deleteGoodsByProviderId">
        delete from bus_goods where providerid = #{pid}
    </delete>

    <!-- 根据供应商id删除商品进货信息 -->
    <delete id="deleteInportByProviderId">
        delete from bus_inport where providerid = #{pid}
    </delete>

    <!-- 根据供应商id删除商品退货信息 -->
    <delete id="deleteOutPortByProviderId">
        delete from yw_outport where providerid = #{pid}
    </delete>

</mapper>
